.versions-section {
  position: relative;
  padding: 80px 20px;
  background-color: #ffffff;
  text-align: center;
  overflow: auto;
}

.versions-section .subtitle {
  color: #E23933;
  font-weight: 600;
  font-size: 16px;
  margin-left: 250px;
  margin-bottom: -30px;
}

.versions-section .section-title {
  font-size: 32px;
  font-weight: 700;
  color: #1D1D1D;
  margin-bottom: 30px;
  text-align: center;
  margin-left: 200px;
}

.versions-grid {
  display: grid;
  grid-template-columns: repeat(2, auto auto);
  justify-content: center;
  gap: 40px 40px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.version-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgb(255 19 19 / 34%);
  border: 2px solid transparent;
  max-width: 280px;
  position: relative;
}

.version-card:first-of-type {
  border-color: #FCE4E4;
}

.avatar-container {
  position: relative;
  width: 170px;
  flex-shrink: 0;
  margin: 0 auto;
}

.avatar-preview {
  position: absolute;
  top: -60px;
  left: -90px;
  width: 130px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  background: #fff;
}

.avatar-main {
  width: 170px;
  border-radius: 12px;
}

.version-info {
  max-width: 300px;
  text-align: left;
  margin: 0;
  padding: 0 15px;
  margin-right: 100px;
  align-self: center;
}

.version-info h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000;
}

.features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features li {
  font-size: 16px;
  margin-bottom: 12px;
  color: #444;
  display: flex;
  align-items: center;
}

.features li i {
  color: #00C285;
  background-color: #DFF6F0;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 14px;
}

@media (max-width: 900px) {

  .versions-section .subtitle,
  .versions-section .section-title {
    margin-left: 0;
    text-align: center;
  }

  .versions-grid {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .version-card {
    margin: 0 auto;
  }

  .version-info {
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
  }

  .version-info h3 {
    text-align: center;
  }

  .features {
    text-align: left;
    margin: 0 auto;
    max-width: 260px;
  }

  .avatar-preview {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto 10px auto;
    display: block;
  }

  .avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}